<div class="Polaris-Layout__Section">
  <div class="Polaris-Card">
    <div class="Polaris-Card__Section">
      <div class="Polaris-SettingAction">
        <div class="Polaris-SettingAction__Setting">
          <div class="Polaris-Stack">
            <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
              <div class="Polaris-AccountConnection__Content">
                <div>Discogs API</div>
                <div><span class="Polaris-TextStyle--variationSubdued">No account connected</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="Polaris-SettingAction__Action">
          <form class="" action="/authorize" method="get">
            <button type="submit" class="Polaris-Button Polaris-Button--primary" id="connect-button"><span class="Polaris-Button__Content"><span>Connect</span></span>
            </button>
          <form>
        </div>
      </div>
      <div class="Polaris-AccountConnection__TermsOfService">
        <p>By clicking Connect, you agree to accept Sample App’s <a class="Polaris-Link" href="Example App" data-polaris-unstyled="true">Terms and conditions</a>.
      </div>
    </div>
  </div>
</div>
